.dbg [class*="col-"] {
    background-color: lightblue;
    border: 2px solid lightsalmon;
    height: 100px;
}
.container_sm{
    width: 60%;
}
.container_xs{
    width: 50%;
    margin: 0 auto;
}

/* color palette */
.bg_green{
    background-color: rgba(26, 188, 156, 1);
    ;
}
.bg_darkblue{
    background-color: rgba(44, 62, 80, 1);
}
.txt_darkblue{
    color: rgba(44, 62, 80, 1);
}
.bg_blue{
    background-color: rgba(58, 84, 109, 1);
}
/* jumbotron */
#jumbotron img{
    width: 200px;
}

/* portfolio */
#images img{
    width: 100%;
    border-radius: 10px;
}

#btn_down{
    background-color: transparent;
    border: 1px, solid, white;
    border-radius: 5px;
    padding: 5px 8px;
}
